# Sprechstile_eigene
von Lisa Wegner

In [1]:
import numpy as np

In [2]:
import pandas as pd

In [3]:
s = pd.Series([1, 3, 5, np.nan, 6, 8])

In [4]:
s

0    1.0
1    3.0
2    5.0
3    NaN
4    6.0
5    8.0
dtype: float64

In [5]:
dates = pd.date_range("20130101", periods=6)

In [6]:
dates

DatetimeIndex(['2013-01-01', '2013-01-02', '2013-01-03', '2013-01-04',
               '2013-01-05', '2013-01-06'],
              dtype='datetime64[ns]', freq='D')

In [7]:
df = pd.DataFrame(np.random.randn(6, 4), index=dates, columns=list("ABCD"))

In [8]:
df

                   A         B         C         D
2013-01-01  1.274493 -0.250132 -1.256753 -1.826619
2013-01-02  1.914649  0.495993 -1.213265  1.225773
2013-01-03 -1.887512  0.835695  0.887398 -0.264318
2013-01-04 -1.380204  0.717188  0.664657  0.507690
2013-01-05 -0.339536 -0.228374  1.947861  0.532844
2013-01-06  0.097032  1.628385 -1.208374 -0.369671

In [9]:
df2 = pd.DataFrame(
   ...:     {
   ...:         "A": 1.0,
   ...:         "B": pd.Timestamp("20130102"),
   ...:         "C": pd.Series(1, index=list(range(4)), dtype="float32"),
   ...:         "D": np.array([3] * 4, dtype="int32"),
   ...:         "E": pd.Categorical(["test", "train", "test", "train"]),
   ...:         "F": "foo",
   ...:     }
   ...: )
   ...:

In [10]:
df2

     A          B    C  D      E    F
0  1.0 2013-01-02  1.0  3   test  foo
1  1.0 2013-01-02  1.0  3  train  foo
2  1.0 2013-01-02  1.0  3   test  foo
3  1.0 2013-01-02  1.0  3  train  foo

In [11]:
df2.dtypes

A           float64
B    datetime64[ns]
C           float32
D             int32
E          category
F            object
dtype: object

In [12]:
df2.<TAB>

SyntaxError: invalid syntax (<ipython-input-12-915637deb483>, line 1)

# Neu nach gelablet

In [13]:
import pandas as pd

In [14]:
!dir

 Datentrâ€žger in Laufwerk C: ist Acer
 Volumeseriennummer: BC07-5B18

 Verzeichnis von C:\Users\User\S_sprechstile_eigene

18.05.2021  15:31    <DIR>          .
18.05.2021  15:31    <DIR>          ..
12.05.2021  13:59             1.928 .gitignore
18.05.2021  13:55    <DIR>          .ipynb_checkpoints
12.05.2021  14:02    <DIR>          Labeltool-master
18.05.2021  15:21             3.770 lables.txt
12.05.2021  13:59                50 README.md
12.05.2021  14:02    <DIR>          Speechalyzer-master
14.04.2021  16:50                72 Sprechstile maschinelle Eigenschaftsanalyse eigene-checkpoint.ipynb
18.05.2021  15:31            16.271 Sprechstile_eigene-checkpoint.ipynb
18.05.2021  13:55             9.129 Sprechstile_eigene_Abgabe-checkpoint.ipynb
12.05.2021  14:01    <DIR>          venv
18.05.2021  15:04    <DIR>          Wegner
               6 Datei(en),         31.220 Bytes
               7 Verzeichnis(se), 926.242.959.360 Bytes frei

In [15]:
df = pd.read_csv('lables.txt', sep=' ', header=None)

In [16]:
df.shape
# anzeigen lassen, wie viele Zeilen und Spalten es gibt

(41, 2)

In [17]:
df.head(5)

                                                   0    1
0  C:\Users\User\sprechstile_eigene\Speechalyzer-...  4.0
1  C:\Users\User\sprechstile_eigene\Speechalyzer-...  3.0
2  C:\Users\User\sprechstile_eigene\Speechalyzer-...  5.0
3  C:\Users\User\sprechstile_eigene\Speechalyzer-...  2.0
4  C:\Users\User\sprechstile_eigene\Speechalyzer-...  2.0

In [18]:
cols=['file', 'valence']
#Spalten umbenennen liste ist in eckicgen klammern heist cols und dann umbenennen in eckicken klammern

In [19]:
df.columns = cols

In [20]:
df = df.set_index('file')

In [21]:
df.head(1)

                                                    valence
file
C:\Users\User\sprechstile_eigene\Speechalyzer-m...      4.0